<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        <div style="position: relative;" class="container">
        <div class="row">
         <div class="col s9">  <h3 style="font-weight: 900; color: black; font-size: 60px;"><a href="/" class="black-text">Royce Williams</a></h3></div>
         <div class="col s3" id="current-date" style="text-align: right; margin-top: 1.9466666667rem; font-weight: 900; color: #1de9b6 ;"></div>
        </div>
        <nav class="#ffffff white z-depth-0">
            <div class="nav-wrapper z-depth-0">
              <ul id="nav-mobile" style="font-weight: 900;"class=" z-depth-0 left">
                <li><a href="/projects" class="black-text">View Projects</a></li>
                <li><a href="/contact" class="black-text">Contact Me</a></li>
                <li><a href="/" class="black-text">About Me</a></li>
              </ul>
            </div>
          </nav>  
        </div>

        {{{body}}}

        <footer class="page-footer" id = "footer-container">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Thank you for visiting my page.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 
            </div>
          </div>
        </footer>

    </body>

</html>