<div class = "container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                <img src="../../assets/github.png">
                </div>
                <div class="card-content">
                <span class="card-title">Github</span>
                <p>One of the best places to view my past projects is to look through the repositories on my gihub page.
                On my page you can find all of the assignments I have completed with my program at the bootcamp aswell
                as a few personal projects I had made when I was first getting into coding.
                </p>
                </div>
                <div class="card-action">
                <a href="https://github.com/RoyceWilliams510">RoyceWilliams510</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                <img src="../../assets/linkedin.png">
                </div>
                <div class="card-content">
                    <span class="card-title black-text">Linkedin</span>
                <p>
                    Like anyone else searching for a job, my linkedin page is one of the best places to connect with me on
                    and also is a great site to view if you want to get to know my background better without having to read my 
                    resume.
                </p>
                </div>
                <div class="card-action">
                <a href="https://www.linkedin.com/in/royce-williams-3334261ab/">Visit</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                <img src="../../assets/contact.png">
                </div>
                <div class="card-content">
                <span class="card-title black-text">Contact Me</span>
                <h6><i class="small material-icons">email</i><a href="mailto:rojwilli@uscs.edu"> Email me</a></h5>
                <h6><i class="small material-icons">call</i> +1 (510) 926-0368</h6>
                </div>
            </div>
        </div>
    </div>
  </div>