 
 <div class = "container">
     <div class = "row">
         <div class = "col m3"></div>
         <div class = "col m6 s12">
             <h2>My Projects</h2>
             <p>Welcome to my project gallery, below is a carousel containing links to a few of my recent projects as well as the links to their git hub repositories.
                 Feel free to check any of them out.
             </p>
         </div>
     </div>
     <div class = "row">
         <div class = "col m3"></div>
         <div class = "col s12 m6">
            <div class="carousel carousel-slider center">
                <div class="carousel-item red" style="background-image: url('../../assets/budget-buddy-logo.png')" href="#one!" >
                <h2><a href = "https://agile-retreat-52176.herokuapp.com/" class = "black-text web-link">Budget Buddy</a></h2>
                <p><a href = "https://github.com/RoyceWilliams510/budget-buddy" class="black-text web-link">View Github Repository</a></p>
                </div>
                <div class="carousel-item amber" style="background-image: url('../../assets/homePage.png')" href="#two!">
                <h2><a href = "https://roycewilliams510.github.io/project-1/" class = "white-text web-link">Plan N Jam</a></h2>
                <p><a href = "https://github.com/RoyceWilliams510/project-1" class="white-text web-link">View Github Repository</a></p>
                </div>
                <div class="carousel-item green"  style="background-image: url('../../assets/note-taker.png')" href="#three!">
                <h2><a href = "https://polar-tundra-02660.herokuapp.com/" class = "black-text web-link">Note Taker</a></h2>
                <p><a href = "https://github.com/RoyceWilliams510/note-taker" class="black-text web-link">View Github Repository</a></p>
                
                </div>
                <div class="carousel-item blue" style="background-image: url('../../assets/employee-tracker.png')" href="#four!">
                <h2><a href = "https://github.com/RoyceWilliams510/employee-tracker" class = "black-text web-link">Employee Tracker</a></h2>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>
